<div class='row'>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class='row'>
          <div class="col-md-1 col-lg-1">
            <div class="vote roundrect">
              <div class="increment up"></div>
              <div class="increment down"></div>

              <div class="count">4</div>
            </div>
          </div>
          <div class='col-md-11 col-lg-11'>
            <div class="form-group">
              <%= label :question, :content , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @question.content %></div>
            </div>
            <hr class="mb-1 mt-2" />
            <small class="time float-left text-muted"> <%= @question.created_at%> </small>
            <script>
            $( ".time" ).each(function( index ) {
              $( this ).text(moment($( this ).text()).fromNow());
            });
            </script>
            <div class="pull-left">
              <span class="tag ">
                <span class="tag-avatar avatar" style="background-image: url(<%= @question.user.profile.image('tiny')%>)"></span>
                <%= truncate(@question.user.profile.name, length: 10)%>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% for answer in @question.answers%>

    <%end%>
  </div>
</div>
