<div id="profile-section">
<div class="form-group">
  <%= label :profile, :name , class: "form-label", style: 'color: #7795c1;'%>
  <div class="form-control-plaintext"><%= @profile.name %></div>
</div>
<div class="form-group">
  <%= label :profile, :sex , class: "form-label", style: 'color: #7795c1;'%>
  <div class="form-control-plaintext"><%= @profile.sex %></div>
</div>
<div class="form-group">
  <%= label :profile, :bio , class: "form-label", style: 'color: #7795c1;'%>
  <div class="form-control-plaintext"><%= @profile.bio %></div>
</div>
</div>
