<div id="discussion_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <i class="far fa-comments" style='vertical-align: -3px;'></i>&nbsp<%=t :new_discussion %>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>
      <%= form_tag '/discussions', remote: true do |f| %>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label class="form-label"><%=t :title %></label>
              <%= text_field_tag :title, nil,class: "form-control" %>
              <%= hidden_field_tag :post_id, params[:id] %>
            </div>
            <div class="form-group">
              <label class="form-label"><%=t :color%></label>
              <div class="row gutters-xs">
                <% for i in 0..19%>
                <div class="col-auto">
                  <label class="colorinput">
                    <input name="color" type="radio" value="<%= colors(i) %>" class="colorinput-input">
                    <span class="colorinput-color" style="background-color: <%= colors(i) %>"></span>
                  </label>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary"><%=t :submit %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header" style='border-bottom: none;'>
    <div class="card-options">
      <button id="new_discussion" class='btn btn-secondary'><i class="far fa-comments"></i> <%=t :new_discussion %></button>
    </div>
  </div>
  <script type="text/javascript">
    $('#new_discussion').click(function() {
      $('#discussion_modal').modal('show');
    });
  </script>
  <span class="d-flex p-0 repository-lang-stats-graph js-toggle-lang-stats" style='height: 11px;'>
    <% @discussion_ids = @post.discussions.pluck(:id) %>
    <% @comments_count = Comment.where('discussion_id IN (?)', @discussion_ids).count %>
    <% for discussion in @post.discussions%>
    <span id='discussion-<%= discussion.id%>' class="language-color" style="width:<%= ((discussion.comments.count + 1) / (@comments_count + 1)) * 100%>%; background-color:<%= discussion.color %>;"></span>
    <% end %>
  </span>
  <div class="card-body">
  <% @discussion = Discussion.find_by_uuid(params[:discussion_id])%>
  <% if @discussion.blank?%>
  <% @discussion = @post.discussions.first%>
  <%end%>
  <%= render partial: 'comments/discussion_comments', discussion: @discussion%>
  </div>
</div>
