<div id='discussion-comments'>
  <span class="d-flex p-0 repository-lang-stats-graph js-toggle-lang-stats" style='height: 11px;'>
    <% @discussion_ids = discussion.post.discussions.pluck(:id) %>
    <% @comments_count = Comment.where('discussion_id IN (?)', @discussion_ids).count %>
    <% for d in discussion.post.discussions%>
    <% if !d.comments.blank?%>
    <%= link_to "/comments/discussion_comments/#{d.id}", class:"language-color", style:"width:#{((d.comments.count + 1) / (@comments_count + 1)) * 100}%; background-color:#{d.color};", remote: true do%>    <%end%>
    <%else%>
    <%= link_to "/comments/discussion_comments/#{d.id}", class:"language-color", style:"width:10%; background-color:#{d.color};", remote: true do%>    <%end%>
    <%end%>
    <%end%>
  </span>
  <div class="card-body">
    <h5><%= discussion.title%></h5>
    <hr class="mb-2 mt-2"/>
    <ul class="list-group card-list-group pr-4">
      <%for comment in discussion.comments%>
      <li class="list-group-item py-3">
        <div class="media">
          <div class="media-object avatar avatar-md" style="background-image: url(<%= comment.user.profile.image('thumb')%>)"></div>
          <div class="media-body">
            <div class="media-heading">
              <small class="float-right text-muted">
                <% if check_owner(comment)%>
                  <%= link_to comment, method: :delete, remote: true ,class: "icon" ,data: { confirm: t(:are_you_sure) } do %>
                  <i class="fe fe-trash" style="vertical-align:-2px"></i>
                  <%end%>
                <%end%>
              </small>
              <small class="time float-right text-muted"> <%= comment.created_at.rfc2822%> </small>

              <span class="small"><%= comment.user.profile.name%></span>
            </div>
            <div class="img-flex">
              <%= sanitize comment.content %>
            </div>
          </div>
        </div>

      </li>
      <%end%>
    </ul>
    <% if grant_access('ability_to_comment', current_user)%>
    <div class="col-12 pt-4">
      <%= form_for Comment.new, remote: true do |f|%>
      <% if @upload_ids.blank?%>
      <%= hidden_field_tag :attachments, ''%>
      <%else%>
      <%= hidden_field_tag :attachments, @upload_ids.split(',')%>
      <%end%>
      <%= hidden_field_tag :discussion_id, discussion.id%>
      <%= hidden_field_tag :content%>
      <div id='toolbar' style='display:none;'></div>
      <trix-editor input="content" toolbar="toolbar"></trix-editor>
      <%end%>

      <div class="text-right mt-2 mb-2">
        <button id='submit-btn' type="submit" class="btn btn-sm btn-primary"><%=t :submit%></button>
      </div>
      <script>
      $( "#submit-btn" ).click(function() {
        console.log('clicked');
        $( "#new_comment" ).submit();
      });
      </script>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
      Trix.config.attachments.preview.caption = {
        name: false,
        size: false
      };

      function uploadAttachment(attachment) {
        var csrfToken = $('meta[name="csrf-token"]').attr('content');
        var file = attachment.file;
        var form = new FormData;
        var endpoint = "/uploads";
        form.append("Content-Type", file.type);
        form.append("file", file);
        form.append("upload[uploadable_type]", 'Comment');
        form.append("upload[uploadable_id]", '0');
        form.append("authenticity_token", window._token);

        xhr = new XMLHttpRequest;
        xhr.open("POST", endpoint, true);
        xhr.setRequestHeader("X-CSRF-Token", csrfToken);

        xhr.upload.onprogress = function(event) {
          var progress = event.loaded / event.total * 100;
          return attachment.setUploadProgress(progress);
        };

        xhr.onload = function() {
          if (this.status >= 200 && this.status < 300) {
            var data = JSON.parse(this.responseText);
            $('#attachments').val($('#attachments').val() + ',' + data.id);
            return attachment.setAttributes({
              url: data.extra
            });
          }
        };

        return xhr.send(form);
      };

      document.addEventListener("trix-attachment-add", function(event) {
        var attachment = event.attachment;
        if (attachment.file) {
          return uploadAttachment(attachment);
        }
      });
    });
    </script>
    <%end%>
  </div>
</div>
