<div class='row'>
  <div class="col-lg-4 order-lg-1">
    <%= render partial: 'streams/stream_block', locals: {stream: @stream}%>
  </div>
  <div class="col-lg-8 ">
    <div class="card">
      <div class="table-responsive">
        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
          <tbody>
            <% for item in @combined %>
            <tr>
              <td class="text-center pl-2 pr-2">
                <div class="media-object avatar avatar-md"
                <% if item.class.name == 'Post'%>
                style='background: #bdd6ef52 no-repeat center/cover;'
                <%end%>
                <% if item.class.name == 'Question'%>
                style='background: #cebdef52 no-repeat center/cover;'
                <%end%>
                >
                <div class="icon icon-gray mr-2">
                  <% if item.class.name == 'Post'%>
                  <i class="fe fe-edit"></i>
                  <% end %>
                  <% if item.class.name == 'Question'%>
                  <i class="fa fa-question"></i>
                  <% end %>
                </div>
              </div>
            </td>
            <td style='width: 55%' class="pl-2 pr-2">
              <% if item.class.name == 'Post'%>
              <a href='/posts/<%= item.id%>'>
                <div><%= truncate(item.title, length: 40) %></div>
                <div class="small text-muted">
                  <%=  truncate(sanitize(item.content, tags:['<div>', '<br>', '<p>']), length: 30) %>
                  </div>
                </a>
                <%end %>
                <% if item.class.name == 'Question'%>
                <a href='/questions/<%= item.id%>'>
                  <div><%= truncate(item.content, length: 40) %></div>
                </a>
                <%end %>
              </td>
              <td class="pl-2 pr-2">
                <span class="tag mt-2">
                  <span class="tag-avatar avatar" style="background-image: url(./demo/faces/female/16.jpg)"></span>
                  Victoria
                </span>
              </td>
              <td class="pl-2 pr-2">
                <% if item.class.name == 'Post'%>
                <i class="far fa-comments" style='vertical-align:-2px;'></i> (<%= item.discussions.count %>)
                <i class="fe fe-trash" style='vertical-align:-2px;'></i>
                <%end %>
                <% if item.class.name == 'Question'%>
                <i class="fas fa-reply" style='vertical-align:-2px;'></i> (<%= item.answers.count %>)
                <i class="fe fe-trash" style='vertical-align:-2px;'></i>
                <%end %>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
