<div class="row ">

  <div class="col-lg-8">
    <div class="card">
      <div class="card-header" style="background-color: #fff;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="<%=t :search%>">
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary">
              <i class="fe fe-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body" style="background: #f5f7fb;">
        <div id='shares'>
          <%= render partial: '/home/shares', locals:{shares: @shares, page: @page}%>
        </div>
          <%= render partial: '/home/more', locals:{page: @page}%>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card ">
      <div class="card-header p-2" style="background-color: #fff; min-height:15px">
        <i class="far fa-bell"></i> &nbsp <%=t :notifications%>
      </div>
      <div class="card-body p-1" style="background: #f5f7fb;">
        <% for notification in current_user.notifications.order('created_at desc').first(5)%>
          <% if !notification.notify.blank?%>
            <%= render partial:'/notifications/notification_block', locals: {item: notification.notify.notifyable}%>
          <%end%>
        <%end%>
      </div>
    </div>

    <div class="card">
      <div class="card-header" style="background-color: #fff;">
        <%=t :suggestions%>
      </div>
      <div class="card-body" style="background: #f5f7fb;">

      </div>
    </div>
  </div>
</div>
