<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <%=t :notification_settings%>
      </div>
      <div class="card-body">
        <div class='table-responsive'>
          <table class="table table-hover table-outline table-vcenter text-nowrap">
            <thead>
              <td><%=t :subject%></td>
              <td><%=t :notify_web%></td>
              <td><%=t :notify_mobile%></td>
              <td><%=t :notify_email%></td>

            </thead>
          <tbody>
            <% for cl in current_user.notification_settings.column_names%>
            <% if cl != 'id' && cl != 'uuid' && cl != 'user_id' && cl != 'created_at' && cl != 'updated_at'%>
            <% @notification_setting = current_user.notification_settings.first%>
            <tr>
              <td class="col-3"><%=t cl%></td>
              <td>
                <label class="custom-switch mt-1">
                  <input type="checkbox" name="<%= cl%>-pushweb" id="<%= cl%>-pushweb" <%if !@notification_setting.blank? && current_user.notification_settings.first.send(cl)[2] == '1'%>checked<%end%> class="custom-switch-input">
                  <span class="custom-switch-indicator"></span>
                  <span class="custom-switch-description" style='font-size: 80%;'></span>
                </label>
              </td>
              <td>
                <label class="custom-switch mt-1">
                  <input type="checkbox" name="<%= cl%>-pushmobile" id="<%= cl%>-pushmobile" <%if !@notification_setting.blank? && current_user.notification_settings.first.send(cl)[1] == '1'%>checked<%end%> class="custom-switch-input">
                  <span class="custom-switch-indicator"></span>
                  <span class="custom-switch-description" style='font-size: 80%;'></span>
                </label>
              </td>
              <td>
                <label class="custom-switch mt-1">
                  <input type="checkbox" name="<%= cl%>-pushemail" id="<%= cl%>-pushemail" <%if !@notification_setting.blank? && current_user.notification_settings.first.send(cl)[0] == '1'%>checked<%end%> class="custom-switch-input">
                  <span class="custom-switch-indicator"></span>
                  <span class="custom-switch-description" style='font-size: 80%;'></span>
                </label>
              </td>
            </tr>
            <%end%>
            <%end%>
          </tbody>
          <script>
          $('.custom-switch-input').change(function() {
            var cl = $(this).attr('id').split("-")[0];
            var p = $(this).attr('id').split("-")[1];
            if($(this).is(":checked")) {
              $.ajax({
                url: '/notification_settings/change?cl='+cl+'&p='+p,
                type: 'GET',
                dataType: 'json',
                data: {
                  to: 'check'
                },
                error: function() {
                  $(this).attr("checked", false);
                },
                success: function(res) {
                  $(this).attr("checked", true);
                }
              });
            } else {
              $.ajax({
                url: '/notification_settings/change?cl='+cl+'&p='+p,
                type: 'GET',
                dataType: 'json',
                data: {
                  to: 'uncheck'
                },
                error: function() {
                  $(this).attr("checked", true);
                },
                success: function(res) {
                  $(this).attr("checked", false);
                }
              });
            }
          });
          </script>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
